--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: sweetspot_app_cake; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sweetspot_app_cake (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    price numeric(10,2) NOT NULL,
    image character varying(100),
    available boolean NOT NULL,
    flavour character varying(10) NOT NULL,
    size character varying(1),
    store_id bigint NOT NULL
);


ALTER TABLE public.sweetspot_app_cake OWNER TO postgres;

--
-- Name: sweetspot_app_cake_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.sweetspot_app_cake ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sweetspot_app_cake_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sweetspot_app_cakecustomization; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sweetspot_app_cakecustomization (
    id bigint NOT NULL,
    message text NOT NULL,
    egg_version character varying(10) NOT NULL,
    toppings text NOT NULL,
    shape text NOT NULL,
    cake_id bigint NOT NULL,
    customer_id bigint NOT NULL
);


ALTER TABLE public.sweetspot_app_cakecustomization OWNER TO postgres;

--
-- Name: sweetspot_app_cakecustomization_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.sweetspot_app_cakecustomization ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sweetspot_app_cakecustomization_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sweetspot_app_cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sweetspot_app_cart (
    id bigint NOT NULL,
    total_amount numeric(20,2) NOT NULL,
    customer_id bigint NOT NULL,
    customization_id bigint,
    quantity integer NOT NULL,
    CONSTRAINT sweetspot_app_cart_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.sweetspot_app_cart OWNER TO postgres;

--
-- Name: sweetspot_app_cart_cake; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sweetspot_app_cart_cake (
    id bigint NOT NULL,
    cart_id bigint NOT NULL,
    cake_id bigint NOT NULL
);


ALTER TABLE public.sweetspot_app_cart_cake OWNER TO postgres;

--
-- Name: sweetspot_app_cart_cake_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.sweetspot_app_cart_cake ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sweetspot_app_cart_cake_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sweetspot_app_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.sweetspot_app_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sweetspot_app_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sweetspot_app_customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sweetspot_app_customer (
    id bigint NOT NULL,
    email character varying(254) NOT NULL,
    first_name character varying(20) NOT NULL,
    last_name character varying(20) NOT NULL,
    password character varying(128) NOT NULL,
    mobile_no character varying(20) NOT NULL,
    address text NOT NULL,
    city character varying(100) NOT NULL,
    state character varying(100) NOT NULL,
    pincode character varying(6) NOT NULL,
    username character varying(150),
    profile_pic character varying(100)
);


ALTER TABLE public.sweetspot_app_customer OWNER TO postgres;

--
-- Name: sweetspot_app_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.sweetspot_app_customer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sweetspot_app_customer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sweetspot_app_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sweetspot_app_order (
    id bigint NOT NULL,
    order_date timestamp with time zone NOT NULL,
    delivery_address text NOT NULL,
    order_status character varying(50) NOT NULL,
    payment_method character varying(50) NOT NULL,
    payment_status character varying(50) NOT NULL,
    total_quantity integer NOT NULL,
    total_price numeric(20,2) NOT NULL,
    customer_id bigint NOT NULL,
    store_id bigint NOT NULL,
    CONSTRAINT sweetspot_app_order_quantity_e8562c42_check CHECK ((total_quantity >= 0))
);


ALTER TABLE public.sweetspot_app_order OWNER TO postgres;

--
-- Name: sweetspot_app_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.sweetspot_app_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sweetspot_app_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sweetspot_app_order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sweetspot_app_order_items (
    id bigint NOT NULL,
    order_id bigint NOT NULL,
    cart_id bigint NOT NULL
);


ALTER TABLE public.sweetspot_app_order_items OWNER TO postgres;

--
-- Name: sweetspot_app_order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.sweetspot_app_order_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sweetspot_app_order_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sweetspot_app_store; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sweetspot_app_store (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    city character varying(100) NOT NULL,
    address text NOT NULL,
    contact_number character varying(15) NOT NULL,
    email character varying(254) NOT NULL,
    description text NOT NULL,
    store_image character varying(100)
);


ALTER TABLE public.sweetspot_app_store OWNER TO postgres;

--
-- Name: sweetspot_app_store_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.sweetspot_app_store ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sweetspot_app_store_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$870000$k2Vw0erbovquvP2oDK3bXp$4SOaM9rh9pLy9ouHBJvgXREfqFNK9p1hDLA0ShtNYtc=	2024-11-09 18:54:58.778142+05:30	t	avishkar			itsavipatil@gmail.com	t	t	2024-10-23 19:08:37.978215+05:30
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	sweetspot_app	cake
8	sweetspot_app	cart
9	sweetspot_app	order
10	sweetspot_app	customer
11	sweetspot_app	cakecustomization
12	sweetspot_app	store
13	sweetspot_app	notification
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sweetspot_app_cake; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sweetspot_app_cakecustomization; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sweetspot_app_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sweetspot_app_cart (id, total_amount, customer_id, customization_id, quantity) FROM stdin;
\.


--
-- Data for Name: sweetspot_app_cart_cake; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sweetspot_app_cart_cake (id, cart_id, cake_id) FROM stdin;
\.


--
-- Data for Name: sweetspot_app_customer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sweetspot_app_order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sweetspot_app_order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sweetspot_app_order_items (id, order_id, cart_id) FROM stdin;
\.


--
-- Data for Name: sweetspot_app_store; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 52, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 92, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 13, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 51, true);


--
-- Name: sweetspot_app_cake_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sweetspot_app_cake_id_seq', 12, true);


--
-- Name: sweetspot_app_cakecustomization_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sweetspot_app_cakecustomization_id_seq', 31, true);


--
-- Name: sweetspot_app_cart_cake_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sweetspot_app_cart_cake_id_seq', 71, true);


--
-- Name: sweetspot_app_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sweetspot_app_cart_id_seq', 77, true);


--
-- Name: sweetspot_app_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sweetspot_app_customer_id_seq', 23, true);


--
-- Name: sweetspot_app_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sweetspot_app_order_id_seq', 69, true);


--
-- Name: sweetspot_app_order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sweetspot_app_order_items_id_seq', 88, true);


--
-- Name: sweetspot_app_store_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sweetspot_app_store_id_seq', 4, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: sweetspot_app_cake sweetspot_app_cake_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_cake
    ADD CONSTRAINT sweetspot_app_cake_pkey PRIMARY KEY (id);


--
-- Name: sweetspot_app_cakecustomization sweetspot_app_cakecustomization_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_cakecustomization
    ADD CONSTRAINT sweetspot_app_cakecustomization_pkey PRIMARY KEY (id);


--
-- Name: sweetspot_app_cart_cake sweetspot_app_cart_cake_cart_id_cake_id_b8ee9808_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_cart_cake
    ADD CONSTRAINT sweetspot_app_cart_cake_cart_id_cake_id_b8ee9808_uniq UNIQUE (cart_id, cake_id);


--
-- Name: sweetspot_app_cart_cake sweetspot_app_cart_cake_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_cart_cake
    ADD CONSTRAINT sweetspot_app_cart_cake_pkey PRIMARY KEY (id);


--
-- Name: sweetspot_app_cart sweetspot_app_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_cart
    ADD CONSTRAINT sweetspot_app_cart_pkey PRIMARY KEY (id);


--
-- Name: sweetspot_app_customer sweetspot_app_customer_email_088d7526_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_customer
    ADD CONSTRAINT sweetspot_app_customer_email_088d7526_uniq UNIQUE (email);


--
-- Name: sweetspot_app_customer sweetspot_app_customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_customer
    ADD CONSTRAINT sweetspot_app_customer_pkey PRIMARY KEY (id);


--
-- Name: sweetspot_app_customer sweetspot_app_customer_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_customer
    ADD CONSTRAINT sweetspot_app_customer_username_key UNIQUE (username);


--
-- Name: sweetspot_app_order_items sweetspot_app_order_items_order_id_cart_id_de0e8ecf_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_order_items
    ADD CONSTRAINT sweetspot_app_order_items_order_id_cart_id_de0e8ecf_uniq UNIQUE (order_id, cart_id);


--
-- Name: sweetspot_app_order_items sweetspot_app_order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_order_items
    ADD CONSTRAINT sweetspot_app_order_items_pkey PRIMARY KEY (id);


--
-- Name: sweetspot_app_order sweetspot_app_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_order
    ADD CONSTRAINT sweetspot_app_order_pkey PRIMARY KEY (id);


--
-- Name: sweetspot_app_store sweetspot_app_store_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_store
    ADD CONSTRAINT sweetspot_app_store_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: sweetspot_app_cake_store_id_05c07c3a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sweetspot_app_cake_store_id_05c07c3a ON public.sweetspot_app_cake USING btree (store_id);


--
-- Name: sweetspot_app_cakecustomization_cake_id_c272e568; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sweetspot_app_cakecustomization_cake_id_c272e568 ON public.sweetspot_app_cakecustomization USING btree (cake_id);


--
-- Name: sweetspot_app_cakecustomization_customer_id_7387b79e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sweetspot_app_cakecustomization_customer_id_7387b79e ON public.sweetspot_app_cakecustomization USING btree (customer_id);


--
-- Name: sweetspot_app_cart_cake_cake_id_8a29b007; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sweetspot_app_cart_cake_cake_id_8a29b007 ON public.sweetspot_app_cart_cake USING btree (cake_id);


--
-- Name: sweetspot_app_cart_cake_cart_id_d76aea3e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sweetspot_app_cart_cake_cart_id_d76aea3e ON public.sweetspot_app_cart_cake USING btree (cart_id);


--
-- Name: sweetspot_app_cart_customer_id_d3ce9740; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sweetspot_app_cart_customer_id_d3ce9740 ON public.sweetspot_app_cart USING btree (customer_id);


--
-- Name: sweetspot_app_cart_customization_id_30f7e8c8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sweetspot_app_cart_customization_id_30f7e8c8 ON public.sweetspot_app_cart USING btree (customization_id);


--
-- Name: sweetspot_app_customer_email_088d7526_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sweetspot_app_customer_email_088d7526_like ON public.sweetspot_app_customer USING btree (email varchar_pattern_ops);


--
-- Name: sweetspot_app_customer_username_38b2a15f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sweetspot_app_customer_username_38b2a15f_like ON public.sweetspot_app_customer USING btree (username varchar_pattern_ops);


--
-- Name: sweetspot_app_order_customer_id_e114d0d4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sweetspot_app_order_customer_id_e114d0d4 ON public.sweetspot_app_order USING btree (customer_id);


--
-- Name: sweetspot_app_order_items_cart_id_ba9450c5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sweetspot_app_order_items_cart_id_ba9450c5 ON public.sweetspot_app_order_items USING btree (cart_id);


--
-- Name: sweetspot_app_order_items_order_id_e33bd15f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sweetspot_app_order_items_order_id_e33bd15f ON public.sweetspot_app_order_items USING btree (order_id);


--
-- Name: sweetspot_app_order_store_id_b286b00c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sweetspot_app_order_store_id_b286b00c ON public.sweetspot_app_order USING btree (store_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sweetspot_app_cake sweetspot_app_cake_store_id_05c07c3a_fk_sweetspot_app_store_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_cake
    ADD CONSTRAINT sweetspot_app_cake_store_id_05c07c3a_fk_sweetspot_app_store_id FOREIGN KEY (store_id) REFERENCES public.sweetspot_app_store(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sweetspot_app_cakecustomization sweetspot_app_cakecu_cake_id_c272e568_fk_sweetspot; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_cakecustomization
    ADD CONSTRAINT sweetspot_app_cakecu_cake_id_c272e568_fk_sweetspot FOREIGN KEY (cake_id) REFERENCES public.sweetspot_app_cake(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sweetspot_app_cakecustomization sweetspot_app_cakecu_customer_id_7387b79e_fk_sweetspot; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_cakecustomization
    ADD CONSTRAINT sweetspot_app_cakecu_customer_id_7387b79e_fk_sweetspot FOREIGN KEY (customer_id) REFERENCES public.sweetspot_app_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sweetspot_app_cart_cake sweetspot_app_cart_c_cake_id_8a29b007_fk_sweetspot; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_cart_cake
    ADD CONSTRAINT sweetspot_app_cart_c_cake_id_8a29b007_fk_sweetspot FOREIGN KEY (cake_id) REFERENCES public.sweetspot_app_cake(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sweetspot_app_cart_cake sweetspot_app_cart_c_cart_id_d76aea3e_fk_sweetspot; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_cart_cake
    ADD CONSTRAINT sweetspot_app_cart_c_cart_id_d76aea3e_fk_sweetspot FOREIGN KEY (cart_id) REFERENCES public.sweetspot_app_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sweetspot_app_cart sweetspot_app_cart_customer_id_d3ce9740_fk_sweetspot; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_cart
    ADD CONSTRAINT sweetspot_app_cart_customer_id_d3ce9740_fk_sweetspot FOREIGN KEY (customer_id) REFERENCES public.sweetspot_app_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sweetspot_app_cart sweetspot_app_cart_customization_id_30f7e8c8_fk_sweetspot; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_cart
    ADD CONSTRAINT sweetspot_app_cart_customization_id_30f7e8c8_fk_sweetspot FOREIGN KEY (customization_id) REFERENCES public.sweetspot_app_cakecustomization(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sweetspot_app_order_items sweetspot_app_order__cart_id_ba9450c5_fk_sweetspot; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_order_items
    ADD CONSTRAINT sweetspot_app_order__cart_id_ba9450c5_fk_sweetspot FOREIGN KEY (cart_id) REFERENCES public.sweetspot_app_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sweetspot_app_order_items sweetspot_app_order__order_id_e33bd15f_fk_sweetspot; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_order_items
    ADD CONSTRAINT sweetspot_app_order__order_id_e33bd15f_fk_sweetspot FOREIGN KEY (order_id) REFERENCES public.sweetspot_app_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sweetspot_app_order sweetspot_app_order_customer_id_e114d0d4_fk_sweetspot; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_order
    ADD CONSTRAINT sweetspot_app_order_customer_id_e114d0d4_fk_sweetspot FOREIGN KEY (customer_id) REFERENCES public.sweetspot_app_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sweetspot_app_order sweetspot_app_order_store_id_b286b00c_fk_sweetspot_app_store_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sweetspot_app_order
    ADD CONSTRAINT sweetspot_app_order_store_id_b286b00c_fk_sweetspot_app_store_id FOREIGN KEY (store_id) REFERENCES public.sweetspot_app_store(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

